<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-9">
            <a href="#/phones">phones</a>
            <user-profile></user-profile>
            <log-out></log-out>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            Search: <input ng-model="query">
            <br/>
            <br/>
            Sort by:
            <select ng-model="data.orderProp" id="QueryType">
                <option ng-repeat="option in data.selectOptions" value="{{option.value}}">
                    {{option.name}}
                </option>
            </select>
            <br/>

        </div>

        <div class="col-md-10">
            <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>UniqueName</th>
            <th>Title</th>
            <th>Last Modified</th>
            <th>Amount in Dollar</th>
            <th>Requester</th>
            <th>Status</th>
            <th>Approver</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in requisitions | filter:query | orderBy: data.orderProp">
            <td><a href="#/requisitions/{{req.id}}">{{ req.id }}</a></td>
            <td>{{ req.title }}</td>
            <td>{{ req.lastModified }}</td>
            <td>{{ req.totalCost }}</td>
            <td>{{ req.requesterId }}</td>
            <td>{{ req.status }}</td>
            <td>{{ req.approverId }}</td>
            <td><a href="javascript:void(0)" ng-click="approve(req.id)">approve</a> |
                <a href="javascript:void(0)" ng-click="deny(req.id)">deny</a>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>